*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body
{
    font-family: cambria ;
    height: 100vh;
    display: flex;
    justify-content: center; 
    background-image: url(/img/skul.jpg);
    background-size: cover;
    
}
.app
{
    position: fixed;
    width: 100%;
    height: 100%;
    max-width: 600px;
    text-shadow: 2px 2px white;
    font-weight: bold;
  
}

.app > .screen{
    display: none;  
}
.app > .screen.active{
    display: block;
    width: 100%;
    height: 100%;
    border:transparent;
    background-color: transparent;
}

.screen .form
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 400px;
    border: transparent;
    padding: 50px;
    font-family: cambria;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    background: linear-gradient(to right in hsl,black, transparent, blue ,transparent); 
    box-shadow: 10px 0px 10px 0px black;
    
   
}
.screen .form-input
{
    width: 100%;
    margin: 20px 0px;
    font-family: cambria;
    
    
}
.screen .form-input label
{
    text-shadow: 1px 1px white;
    font-family: cambria;
    font-size: 20px;
    font-weight: bold;
    
}
.screen h2
{
    margin-bottom: 20px;
    font-family: cambria;
    font-size: 30px;
    color: grey;
    border-bottom: 4px solid black;
    padding: 5px 0px;
    display: inline-block;
    text-shadow: 2px 2px white;
    font-weight: bold;
    color: black;
}
.screen .form-input label
{
    display: block;
    margin-bottom: 5px;
    font-family: cambria;
}
.screen .form-input input{
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    font-size: 16px;
    
}
.screen .form-input button
{
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    border: transparent;
    font-family: georgia;
    font-weight: bold;   
    box-shadow: 10px 0px 10px 0px;
    box-shadow: white;
    

}
.screen .form-input button:hover
{
    background-color:black;
    border:none;
    color: yellowgreen;
    font-family: georgia;
    
} 
/* chat room ============================================*/
.chat-screen
{
    box-shadow: 10px 0px 10px 0px;
}

.chat-screen .header
{
    position: relative;
    background: black;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    
    
}

.chat-screen .header .logo 
{
    font-size: 18px;
    color: #eee;
    font-weight: bold;
    text-shadow: none;
}

.chat-screen .header button
{
    padding: 5px 10px;
    border: 1px none;
    background-color: transparent;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    
}
.chat-screen .header button:hover 
{
    background-color: white;
    color: black;
    text-shadow: (0px,0px,20px,5px) rgba(0,0,0,0.05);
}
/* inbox =====================================================*/
.chat-screen .messages
{
    width: 100%;
    height: calc(100% - 100px);
    background:transparent;   
    overflow: auto; 
}

.chat-screen .messages .message
{
    display: flex;
    padding: 10px;
    
}
.chat-screen .messages .message > div
{
    max-width: 70px;
    background-color: transparent;
    box-shadow: 10px 0px 10px 0px;
    padding: 5px;
    text-shadow: none;
}
.chat-screen .messages .message.my-message
{
    justify-content: flex-end;
   
}
.chat-screen .messages .message.other-message
{
    justify-content: flex-start;
}
.chat-screen .messages .message .name
{
    font-size: 13px;
    color: gray;
    margin-bottom: 5px;
}
.chat-screen .messages .message .text
{
    word-wrap: break-word;
    color: yellowgreen;
}
.chat-screen .messages .update
{
    text-align: center;
    padding: 10px;
    font-style: italic;
    text-shadow: none;
}
.chat-screen .typebox
{
    width: 100%;
    height: 50px;
    display: flex;
}
.chat-screen .typebox input
{
    flex:1;
    height: 50px;
    font-size: 18px;
    font-family: cambria;
    border-radius: 50px;
}
.chat-screen .typebox button
{
    width: 80px;
    height: 100%;
    background:grey;
    color: white;
    font-size: 16px;
    outline: none;
    border-radius: 30px;
}
.chat-screen .typebox button:hover
{
    background-color: black;
    color: white;
}
.app > .active
{
    position: fixed;
    width: 100%;
    height: 100%;
    max-width: 600px;
    background-color: lavender;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
